﻿<link rel="stylesheet" href="/Content/bootstrap.css">
<h1 align="center">Registrar Proveedor </h1>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
           <div class="panel panel-info">
  <div class="panel-heading" style="text-align:center">
      <h4>Editar Proveedor</h4></div>
  <div class="panel-body">
        <form action="/Proveedor/Create" method="post">

            <div class="form-group">
                <label for="">ID</label>
                <input type="text" name="IdProveedor" class="form-control" readonly="readonly" placeholder="Id servicio"/>
            </div>

            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" name="Nombre" class="form-control" placeholder="Razon social"/>
                <span>@Html.ValidationMessage("Nombre")</span>
            </div>

            <div class="form-group">
                <label for="">Ruc</label>
                <input type="text" name="Ruc" class="form-control" placeholder="Ruc" />
                <span>@Html.ValidationMessage("Ruc")</span>
            </div>

            <div class="form-group">
                <label for="">Telefono</label>
                <input type="text" name="Telefono" class="form-control" placeholder="telefono" />
                <span>@Html.ValidationMessage("Telefono")</span>
            </div>

            <div class="form-group">
                <label for="">Ciudad</label>
                <input type="text" name="Ciudad" class="form-control" placeholder="Ciudad"/>
                <span>@Html.ValidationMessage("Ciudad")</span>
            </div>

             <div class="form-group">
                <label for="">Correo</label>
                 <input type="text" name="Correo" class="form-control" placeholder="Correo"/>
                 <span>@Html.ValidationMessage("Correo")</span>
            </div>

             <div class="form-group">
                <label for="">Pagina Web</label>
                 <input type="text" name="PaginaWeb" class="form-control" placeholder="Pagina Web"/>
                 <span>@Html.ValidationMessage("PaginaWeb")</span>
            </div>
            
               <nav>
                <ul class="pager">
                <button class="btn btn-primary glyphicon glyphicon-floppy-saved">Guardar</button>

            <a href="/Proveedor/Index" class="btn btn-danger">
                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                cancelar
            </a>
            </ul>
        </nav>
           

        </form>
        </div>

        </div>
    </div>
  </div>
</div>



