﻿<link rel="stylesheet" href="/Content/bootstrap.css">
@model Ganadero.Model.Entidades.Proveedor
<h3>Editar Proveedor</h3>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-info">
  <div class="panel-heading" style="text-align:center">
      <h4>Editar Proveedor</h4></div>
  <div class="panel-body">
        <form action="/Proveedor/Edit/@Model.Id" method="post">

            <div class="form-group">
                <label for="">Id Proveedor</label>
                <input type="text" name="Id" class="form-control" placeholder="Id" readonly="readonly" value="@Model.Id"/>
            </div>
            <div class="form-group">
                <label for="">Nombre </label>
                <input type="text" name="Nombre" class="form-control" placeholder="Nombre" value="@Model.Nombre"/>
            </div>
            <div class="form-group">
                <label for="">Ruc</label>
                <input type="text" name="Ruc" class="form-control" placeholder="Ruc" value="@Model.Ruc" />
            </div>

            <div class="form-group">
                <label for="">Telefono</label>
                <input type="text" name="Telefono" class="form-control" placeholder="Telefono" value="@Model.Telefono"/>
            </div>

            <div class="form-group">
                <label for="">Ciudad</label>
                <input type="text" name="Ciudad" class="form-control" placeholder="Ciudad" value="@Model.Ciudad"/>
            </div>

            <div class="form-group">
                <label for="">Correo</label>
                <input type="text" name="Correo" class="form-control" placeholder="Correo" value="@Model.Correo"/>
            </div>

             <div class="form-group">
                <label for="">Pagina Web</label>
                <input type="text" name="PaginaWeb" class="form-control" placeholder="PaginaWeb" value="@Model.PaginaWeb" />
            </div>

            

                                  <nav>
  <ul class="pager">
  <button class="btn btn-primary glyphicon glyphicon-floppy-saved">Guardar</button>
            <a href="/Proveedor/Index" class="btn btn-danger">
                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                cancelar
            </a>
  </ul>
</nav>
            
        </form>
    </div>
            </div>
        </div>
    </div>
</div>
