﻿<link rel="stylesheet" href="/Content/bootstrap.css">
@model List<Ganadero.Model.Entidades.Proveedor>

<h2 align="center" >Mostrar Proveedores</h2>
<div class="col-sm-12  col-md-offset-0" >
@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}


<form action="/Proveedor/Index" method="get">

    <div class="row">
        <div class="col-md-6">
            <input type="text" name="query" class="form-control" placeholder="Buscar..."/>
        </div>

        <div class="col-md-2">
            <button class="btn btn-primary">Buscar</button>
        </div>
        <div>
             <a href="/Proveedor/Create" class="btn btn-success" style="margin-bottom: 10px;">Nuevo Proveedor</a>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>IdProveedor</th>
            <th>Ruc</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Ciudad</th>
            <th>Correo</th>
            <th>Pagina Web</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.IdProveedor</th>
                <th>@item.Ruc</th>
                <th>@item.Nombre</th>
                <th>@item.Telefono</th>
                <th>@item.Ciudad</th>
                <th>@item.Correo</th>
                <th>@item.PaginaWeb</th>
                 <td>
                     <a href="/Proveedor/Edit/@item.IdProveedor" class="glyphicon glyphicon-pencil">Editar </a>|
                    <a href="/Proveedor/Delete/@item.IdProveedor"
                           onclick="return confirm(' DESEA ELIMINAR EL SERVICIO :  @item.Nombre');">
                          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                           Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>