﻿<link rel="stylesheet" href="/Content/bootstrap.css">
@model Ganadero.Model.Entidades.Servicio
<h3>Editar Servicio</h3>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-info">
  <div class="panel-heading" style="text-align:center">
      <h4>Editar Servicio</h4></div>
  <div class="panel-body">
        <form action="/Servicios/Edit/@Model.Id_servicio" method="post">

            <div class="form-group">
                <label for="">Id Servicio</label>
                <input type="text" name="Id_servicio" class="form-control" placeholder="Id_servicio" readonly="readonly" value="@Model.Id_servicio"/>
            </div>
            <div class="form-group">
                <label for="">Nombre Servicio</label>
                <input type="text" name="NombreServicio" class="form-control" placeholder="NombreServicio" value="@Model.NombreServicio"/>
            </div>
            <div class="form-group">
                <label for="">Precio</label>
                <input type="text" name="Precio" class="form-control" placeholder="Precio" value="@Model.Precio" />
            </div>

            <div class="form-group">
                <label for="">Descripcion</label>
                <input type="text" name="Descripcion" class="form-control" placeholder="Descripcion" value="@Model.Descripcion" />
            </div>

          
            <nav>
  <ul class="pager">
    <button class="btn btn-primary glyphicon glyphicon-floppy-saved">Guardar</button>
            <a href="/Servicios/Index" class="btn btn-danger">
                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                cancelar
            </a>    
  </ul>
</nav>
            
        </form>
    </div>

</div>
</div>
 </div>
</div>
