﻿<link rel="stylesheet" href="/Content/bootstrap.css">
@model List<Ganadero.Model.Entidades.Servicio>

<h2 align="center">Mostrar Servicios</h2>
<div class="col-sm-12  col-md-offset-0">
    <div class="panel panel-info">
  <div class="panel-heading" style="text-align:center">
      <h4>Editar Proveedor</h4></div>
  <div class="panel-body">
    @if (TempData["UpdateSuccess"] != null)
    {
        <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
    }


    <form action="/Servicios/Index" method="get">

        <div class="row">
            <div class="col-md-6">
                <input type="text" name="query" class="form-control" placeholder="Buscar..." />
            </div>

            <div class="col-md-2">
                <button class="btn btn-primary">Buscar</button>
            </div>
            <div>
                <a href="/Servicios/Create" class="btn btn-success" style="margin-bottom: 10px;">Nuevo Servicio</a>
            </div>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Precio</th>
                <th>Nombre</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id_servicio</th>
                    <th>@item.Precio</th>
                    <th>@item.NombreServicio</th>
                    <th>@item.Descripcion</th>
                  
                    <td>
                        <a href="/Servicios/Edit/@item.Id_servicio" class="glyphicon glyphicon-pencil">Editar </a>|
                    <a href="/Servicios/Delete/@item.Id_servicio"
                           onclick="return confirm(' DESEA ELIMINAR EL SERVICIO :  @item.NombreServicio');">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        Eliminar
                    </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
      </div>
    </div>
    </div>