﻿<link rel="stylesheet" href="/Content/bootstrap.css">
@model Ganadero.Model.Entidades.Producto
<h3 align="center>Editar Producto</h3>

<div class="row">
    <div class="col-sm-6  col-md-offset-3">
          <div class="panel panel-info">
  <div class="panel-heading" style="text-align:center">
      <h4>Editar Producto</h4></div>
  <div class="panel-body">
        <form action="/Producto/Editar/@Model.IdProducto" method="post">
            <div>
                 <h3 align="center>Editar Producto</h3>
            </div>
           
            <div class="form-group">
                    <label for="Descripcion/">id</label>
                    <input type="text" name="IdProducto" Class="form-control" 
                        placeholder="descripcion" value="@Model.IdProducto"  readonly="true"></input>
                 </div>
            <div class="form-group">
                    <label for="Descripcion/">Descripcion</label>
                    <input type="text" name="NombreProducto" Class="form-control" 
                        placeholder="descripcion" value="@Model.NombreProducto"></input>
                         
                 
                 </div>

                    
                     <div class="form-group">
                    <label for="Precio/">Precio</label>
                    <input type="text" name="Precio"  Class="form-control" 
                        placeholder="Precio" value="@Model.Precio" ></input>
                 </div>

                     <div class="form-group">
                    <label for="Stock/">Marca</label>
                    <input type="text" name="Marca"  Class="form-control" placeholder="Marca"
                       value="@Model.Marca" ></imput>
                 </div>

                 <div class="form-group">
                <label for="categoria">Categoria</label>
                <div class="editor-field">
                    @Html.DropDownList("IDCategoria")


                </div>
            </div>


<nav>
  <ul class="pager">
                 <button class="btn btn-primary glyphicon glyphicon-floppy-saved" >Guardar</button>

             <a href="/Producto/inicio" class="btn btn-danger">

                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                cancelar
            </a>
  </ul>
</nav>
        </form>
           
    </div>

</div>
</div>
</div>
</div>
    