﻿<link rel="stylesheet" href="/Content/bootstrap.css">
@model List<Ganadero.Model.Entidades.Producto>
<h2 align="center">Productos</h2>
<div class="col-sm-12  col-md-offset-0" >

@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}


   <div class="panel panel-info">
  <div class="panel-heading" style="text-align:center">
      <h4> Producto</h4></div>
  <div class="panel-body">

<form action="/producto/inicio" method="get">

    <div class="row" >
        <div class="col-md-6">
            <input type="text" align="center"name="query" class="form-control" placeholder="Buscar..." />
        </div>
       
        <div class="col-md-2">
            <button class="btn btn-primary"align="center">Buscar</button>
        </div>
         <divclass="col-md-2">
            <a href="/Producto/Create" class="btn btn-success" style="    margin-bottom: 10px;">Crear</a>
        </divclass="col-md-2">
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre Producto</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Categoria</th>
             <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdProducto</td>
                <td>@item.NombreProducto </td>
                <td>@item.Marca </td>
                <td>@item.Precio</td>
                <td>@item.categoria.Descripcion</td>


            
                <td>
                    <a href="/Producto/Editar/@item.IdProducto" class="glyphicon glyphicon-pencil">Editar</a> |
                    <a href="/Producto/Delete/@item.IdProducto"
                           onclick="return confirm(' DESEA ELIMINAR EL PRODUCTO :  @item.NombreProducto ');">
                          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                           Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
      </div>
       </div>
    </div>

    