﻿<link rel="stylesheet" href="/Content/bootstrap.css">
    <h1 align="center"> INSERTAR LOTE </h1>
    <div class="col-sm-6  col-md-offset-3" >
            <form action="/lote/create" method="post">
              <div class="form-group">
                    <label for="numerolote/">Nº Lote:</label>
                    <input type="text" ID="TextBox1" runat="server" Class="form-control" 
                        placeholder="numero lote"></input>
                 </div>
                   

                     <div class="form-group">
                    <label for="stock/">Stock:</label>
                    <input type="text" ID="TextBox3" runat="server" Class="form-control" 
                        placeholder="Stock" ></input>
                 </div>

                     <div class="form-group">
                    <label for="fechacaducidad/">Fecha Caducidad:</label>
                    <input type="text"ID="TextBox4" runat="server" Class="form-control" placeholder="Fecha Caducidad:" ></input>
               

                 <div class="form-group col-xs-3 row">
            <label >producto</label>
            <select class="form-control" name="producto">
                <option value="@Model.producto">@Model.producto"</option>
                <option value= "Pastilla">Pastilla</option>
                <option value= "aaaaa">aaaaa</option>
                <option value= "bbbb">bbbb</option>
                <option value= "Jesús">Jesús</option>
                <option value= "Llacanora">Llacanora</option>
                <option value= "La Encañada">La Encañada</option>
                <option value= "Los Baños del Inca">Los Baños del Inca</option>
                <option value="Magdalena">Magdalena</option>
                <option value= "Matará">Matará</option>
                <option value="Namora">Namora</option>
                <option value="San Juan">San Juan</option>
            </select>
        </div>

                     <asp:LinkButton runat="server" ID="btnGuardar">
                        <button class="btn btn-primary">Guardar</button>
                    </asp:LinkButton>

                  
                    </div>
                </form>
                 </div>