﻿<link rel="stylesheet" href="/Content/bootstrap.css">
    <h1 align="center"> INSERTAR LOTE </h1>
    <div class="col-sm-6  col-md-offset-3" >
          <div class="panel panel-info">
  <div class="panel-heading" style="text-align:center">
      <h4>Crear  Lote</h4></div>
  <div class="panel-body">
            <form action="/lote/create" method="post">
              
               <div class="form-group">
                     <label for="proveedor">Proveedor: </label>
                     <div class="editor-field">
        
                      @Html.DropDownList("IdProveedor", "Nombre")
                    </div>
              </div>
                    <div>
                    <label for="numerolote/">Nº Lote:</label>
                    <input type="text" name="NroLote" Class="form-control"
                           placeholder="numero lote"></input>
                </div>
                   

                     <div class="form-group">
                    <label for="stock/">Stock:</label>
                    <input type="text" name="StockInicial" Class="form-control" 
                        placeholder="Stock" ></input>
                 </div>

                     <div class="form-group">
                    <label for="fechacaducidad/">Fecha Caducidad:</label>
                     <input type="text"name="FechaDeVencimiento" Class="form-control" placeholder="AAAA/MM/D
                        "></imput>
                     </div>

                      <div class="form-group">
        <label for="categoria">Producto: </label>
        <div class="editor-field">
        
            @Html.DropDownList("IdProducto","NombreProducto")
         @*   @Html.ValidationMessageFor(model => model.IdClasificacion)*@
            
        </div>
    </div>

  

             
      <nav>
  <ul class="pager">
                     <button class="btn btn-primary glyphicon glyphicon-floppy-saved">Guardar</button>

              <a href="/Lote/Inicio" class="btn btn-danger">
                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                cancelar
            </a>
  </ul>
</nav>
  </form>
  </div>
  </div>
  </div>

         
