﻿<link rel="stylesheet" href="/Content/bootstrap.css">

@model Ganadero.Model.Entidades.Lote
<h3 align="center>Editar Producto</h3>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
           <div class="panel panel-info">
  <div class="panel-heading" style="text-align:center">
      <h4>Editar  Lote</h4></div>
  <div class="panel-body">
        <form action="/Lote/Editar/@Model.IdLote" method="post">

               <div class="form-group">
                    <label for="Descripcion/">id</label>
                    <input type="text" name="IdLote" Class="form-control" 
                        placeholder="descripcion" value="@Model.IdLote"  readonly="true"></input>
                 </div>

                <div class="form-group">
                    <label for="nro Lote/">nro Lote</label>
                    <input type="text" name="NroLote" class="form-control" placeholder=" numero lote" value="@Model.NroLote"/></input>
                 </div>
                    

                     <div class="form-group">
                    <label for="Stock Inicial/">Stock Inicial</label>
                    <input type="text" name="StockInicial" class="form-control" placeholder="stock inicial" value="@Model.StockInicial"></imput>
                 </div>
            <div class="form-group">
               


                <label for="Fecha de Vencimiento/">Fecha de Vencimiento</label>
                    <input type="text" name="FechaDeVencimiento" class="form-control" placeholder="Fecha de Vencimiento" value="@Model.FechaDeVencimiento"></imput>

               
            
            </div>

             <div class="form-group">
                <label for="categoria">Proveedor</label>
                <div class="editor-field">
                    @Html.DropDownList("idProveedor")
                </div>

             <div class="form-group">
                <label for="categoria">Producto</label>
                <div class="editor-field">
                    @Html.DropDownList("idProducto")

                </div>

                </div>

          <nav>
        <ul class="pager">
                <button class="btn btn-primary glyphicon glyphicon-floppy-saved">Guardar</button>
             <a href="/Lote/inicio" class="btn btn-danger">
                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                cancelar
            </a>
  </ul>
</nav>
        </form>
    </div>
</div>
</div>
</div>

</div>