﻿<link rel="stylesheet" href="/Content/bootstrap.css">
@model List<Ganadero.Model.Entidades.Lote>
<h2 align="center">Lote</h2>
<div class="col-sm-12  col-md-offset-0" >
     <div class="panel panel-info">
  <div class="panel-heading" style="text-align:center">
      <h4> Lote</h4></div>
  <div class="panel-body">
@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

<form action="/lote/inicio" method="get">

    <div class="row">
        <div class="col-md-3">
            <input type="text" name="date1" class="form-control" placeholder="F inicio" />
        </div>
        <div class="col-md-4">
            <input type="text" name="date2" class="form-control" placeholder="F fin" />
        </div>
       
        <div class="col-md-2">
            <button class="btn btn-primary">Buscar</button>
        </div>
        <divclass="col-md-2">
            <a href="/Lote/Create" class="btn btn-success" style="    margin-bottom: 10px;">Crear</a>
        </divclass="col-md-2">
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nro Lote</th>
            <th>Stock Inicial</th>
            <th>Fecha v</th>
            <th> Producto</th>
            <th> Proveedor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdLote</td>
                <td>@item.NroLote </td>
                <td>@item.StockInicial </td>
                <td>@item.FechaDeVencimiento</td>
                <td>@item.producto.NombreProducto</td>
                <td>@item.Proveedor.Nombre</td>

            
                <td>
                    <a href="/Lote/Editar/@item.IdLote" class="glyphicon glyphicon-pencil">Editar</a> |
                    <a href="/Lote/Delete/@item.IdLote"
                           onclick="return confirm(' DESEA ELIMINAR EL LOTE : @item.IdLote ');">
                          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                           Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
      </div>
      </div>
    </div>
    