﻿
<tr>

   <td><input type="hidden" name="detalleventa[@ViewBag.Index].IdProducto" value="@Model.IdProducto" /></td>
    <td>@Model.NombreProducto</td>
    <td>@Model.Marca</td>
    <td>@Model.Precio</td>
    <td>@Model.categoria.Descripcion</td>
    
    <td><input type="text" name="detalleventa[@ViewBag.Index].Cantidad" /></td>
     <td><input type="hidden" name="detalleventa[@ViewBag.Index].NombreProducto" value="@Model.NombreProducto" /></td>
     <td><input type="hidden" name="detalleventa[@ViewBag.Index].preciodeta" value="@Model.Precio*catidad" /></td>
     <td><input type="hidden" name="detalleventa[@ViewBag.Index].IDCategoria" value="@Model.IDCategoria" /></td>
   
</tr>  
