﻿<link rel="stylesheet" href="/Content/bootstrap.css">
@model List<Ganadero.Model.Entidades.Producto>
<h2 align="center">REALIZAR VENTA</h2>

@section styles{
    <style>
        .product {
            background-color: rgb(230,244,224);
        }
    </style>
}

@section scripts{
    <script>
        var index = 0;
        $(function aad() {
            $("#productos tbody tr").click(function () {
                $(this).addClass('product').siblings().removeClass('product');
                var id = this.cells[0].textContent;
                $.get('/Venta/addproducto/' + id + '?index=' + index).success(function (respuesta) {
                    $('#productoslis').append(respuesta);
                });
                index++;
            });
        });
    </script>
}


<div class="col-sm-8  col-md-offset-2">

    @if (TempData["UpdateSuccess"] != null)
    {
        <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
    }
    </div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
 <form action="/Venta/Create" method="post">
     <div class="panel panel-info">
  <div class="panel-heading" style="text-align:center">
      <h4>Crear  venta</h4></div>
  <div class="panel-body">
  
  
        <div class="col-md-4" >
         <label for="fecha/">Fecha:</label>
        <input type="date" name="fecha" class="form-control" placeholder="AAAA/MM/DD"></imput>
        </div>

      <div class="col-md-3" >
            <label for="">Tipo Comprobante:</label>
        <select name="tipocomprobante" class="select form-control">
             <option value="Otros">--OTROS--</option>
            <option value="Boleta">Boleta</option>
            <option value="Factura">Factura</option>
        </select>
  </div>

    
     
     <div class="col-md-4">
        <label for="cliente">Cliente: </label>
        <div class="editor-field">
            @Html.DropDownList("identiti")
         @*   @Html.ValidationMessageFor(model => model.IdClasificacion)*@
            
        </div>
    </div>

    

  <form action="/venta/create" method="get">
       <div class="row">
           
        <div>
            <h2>Productos</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="text" align="center" name="query" class="form-control" placeholder="Buscar..." />
            </div>

            <div class="col-md-2">
                <button class="btn btn-primary" align="center">Buscar</button>
            </div>
        </div>
  


    <table id="productos" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre Producto</th>
                <th>Marca</th>
                <th>Precio</th>
                <th>Categoria</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdProducto</td>
                    <td>@item.NombreProducto </td>
                    <td>@item.Marca </td>
                    <td>@item.Precio</td>
                    <td>@item.categoria.Descripcion</td>

                    <td>
                        <a href="#" onclick="aad()">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                            Agregar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
    </div>
    <div>
        <h2>Lista Productos</h2>
    </div>

    <table id="listaproductos"   name="detalle" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre Producto</th>
                <th>Marca</th>
                <th>PrecioUni</th>
                <th>Categoria</th>
                <th>cantidad</th>
                <th>precioTo</th>

            </tr>
        </thead>
        <tbody id="productoslis">
        </tbody>
        
    </table>
    <div class="col-md-4">
                <input type="text"  name="total" class="form-control" placeholder="TotalPagar" />
            </div>
   <br />
     <br />
     <br />
    <div >
   
    </div>

      <nav>
  <ul class="pager">
     <button class="btn btn-primary glyphicon glyphicon-floppy-saved">Guardar</button>

              <a href="/venta/index" class="btn btn-danger">
                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                cancelar
            </a>
  </ul>
</nav>
       </form>
</div>
   </div>
 