﻿<link rel="stylesheet" href="/Content/bootstrap.css">
@model List<ElGanadero.Model.DetalleVenta>
   <div class="panel panel-info">
  <div class="panel-heading" style="text-align:center">
      <h4> detalle de venta</h4></div>
  <div class="panel-body">
<table class="table" id="master">
    <thead>
        <tr>
            <th>Idventa</th>
            <th>producto nombre</th>
            <th>catidad</th>
            <th>precio</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdVentas</td>
                <td>@item.Producto.NombreProducto </td>
                <td>@item.cantidad</td>
                 <td>@item.preciodeta</td>
            </tr>
        }
    </tbody>
</table>
      </div>
       </div>
