﻿<link rel="stylesheet" href="/Content/bootstrap.css">
@*@model List<Ganadero.Model.Entidades.Venta>*@

@section styles{
    <style>
        .product {
            background-color: rgb(230,244,224);
        }
    </style>
}

@section scripts{
    <script>
        var index = 0;
        $(function () {
            $("#master tbody tr").click(function () {
                $(this).addClass('product').siblings().removeClass('product');
                var id = this.cells[0].textContent;
                getventaID(id);
                //$.get('/Venta/addproducto/' + id + '?index=' + index).success(function (respuesta) {
                //    $('#productoslis').append(respuesta);
                //});
                //index++;
            });
            function getventaID(ventaid)
            {
                $.ajax({
                    url: 'venta/getventaID',
                    type:'GET',
                    data: { id: ventaid },

                    error: function (ex) {
                        alert(ex.responseText);
                    },
                    success: function (response)
                    {

                    }


                });
            }


        });
    </script>
    }





<h2 align="center">lista  de Ventas</h2>
<div class="col-sm-12  col-md-offset-0" >

@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}


   <div class="panel panel-info">
  <div class="panel-heading" style="text-align:center">
      <h4> ventas</h4></div>
  <div class="panel-body">

<form action="/venta/index" method="get">

    <div class="row" >
        <div class="col-md-6">
            <input type="text"name="query" class="form-control" placeholder="Buscar..." />
        </div>
       
        <div class="col-md-2">
            <button class="btn btn-primary"align="center">Buscar</button>
        </div>
         <div class="col-md-2">
            <a href="/venta/Create" class="btn btn-success" style="    margin-bottom: 10px;">Crear</a>
        </div>
    </div>
</form>


<table class="table" id="master">
    <thead>
        <tr>
            <th>Id</th>
            <th>tipo comprobante</th>
            <th>fecha</th>
            <th>total</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ventaID</td>
                <td>@item.tipocomprobante </td>
                <td>@item.fecha </td>
               
               <td>@Ajax.ActionLink("cambio", "Detalle", "Venta", new { id=item.ventaID}, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "detalle" })

               </td>
                <td>
                    <a href="/Producto/Editar/@item.ventaID" class="glyphicon glyphicon-pencil">Editar</a> |
                  
                </td>
            </tr>
        }
    </tbody>
</table>
     <h3> detalle venta</h3>
      <div id="detalle">    </div>
      </div>
       </div>
    </div>